<div class="intro_page intro_page_logo" *ngIf="showFirstDiv">
    <div class="flex_container" [class.active]="animStarted(5)">
        <div class="flex_item_1"><img src="/img/check.png" alt="img">
        </div>
        <div class="flex_item_2"><p>UpTodoo</p></div>
    </div>
</div>
<div class="intro_page intro_page_inf" *ngIf="showSecondDiv" [class.active]="isIntro(2)">
    <div class="container container_first" [class.active]="introShows(2006)">
        <button class="skip-button" (click)="lastIntroPage()">Skip</button>
        <div class="carousel">
            <div class="slide slide1" [class.active]="isActiveSlide(1)">
                <img src="/img/Group 182.png" alt="First Slide">
                <div class="carousel_indicators">
                    <div class="carousel_indicator car_1"></div>
                    <div class="carousel_indicator car_2"></div>
                    <div class="carousel_indicator car_3"></div>
                </div>
                <h2>Manage your tasks</h2>
                <p>You can easily manage all of your daily tasks in DoMe for free</p>
            </div>
            <div class="slide slide2" [class.active]="isActiveSlide(2)">
                <img src="/img/Group 183.png" alt="Second Slide">
                <div class="carousel_indicators">
                    <div class="carousel_indicator car_1"></div>
                    <div class="carousel_indicator car_2"></div>
                    <div class="carousel_indicator car_3"></div></div>
                <h2>Create daily routine</h2>
                <p>In Uptodo  you can create your personalized routine to stay productive</p>
            </div>
            <div class="slide slide3" [class.active]="isActiveSlide(3)">
                <img src="/img/Group 181.png" alt="Third Slide">
                <div class="carousel_indicators">
                    <div class="carousel_indicator car_1"></div>
                    <div class="carousel_indicator car_2"></div>
                    <div class="carousel_indicator car_3"></div></div>
                <h2>Orgonaize your tasks</h2>
                <p>You can organize your daily tasks by adding your tasks into separate categories</p>
            </div>
        </div>
        <div class="down_buttons">
            <button #buttonback class="back-button" (click)="previousSlide()">Back</button>
            <button #buttonnext id="next" class="next-button" (click)="nextSlide(buttonnext)">Next</button>
        </div>
        
    </div>

</div>
<div class="intro_page intro_page_login" [class.active]="isgetStarted(3)">
    <div class="container container_second" [class.active]="introShows(13)">
        
        <button (click)="backIntro()" class="backIntro"><ng-icon name="heroChevronLeft"></ng-icon></button>
        <div class="flex_container_last">
            <div class="welcome_text">
                <h2>Welcome to UpTodo</h2>
                <p>Please login to your account or create new account to continue</p>
            </div>
            <button class="login"><a routerLink="/login" >LOGIN</a></button>
            <button class="create"><a routerLink="/register">CREATE ACCOUNT</a></button>
        </div>
    </div>
</div>