<div class="modal-block" #modalElement>
    <div class="modal-block-container">
        <h1>Add Task</h1>
        <input type="text" id="taskName" name="taskName" placeholder="Task Name">
        <input type="text" id="tasDescription" name="taskDescription" placeholder="Description">

        <div class="buttons">
            <div class="change">
                <ng-icon name="cssTime"></ng-icon>
                <ng-icon name="cssTag"></ng-icon>
                <ng-icon name="cssFlagAlt"></ng-icon>
            </div>
            <ng-icon name="cssArrowRightO" class="next"></ng-icon>
        </div>
    </div>
</div>
