<div class="home_page">
  <div class="container">
    <div class="flex_container_all">
      <div class="nav_container">
        <button class="sort_icon">
          <a routerLink="/sort"><ng-icon name="cssSortAz"></ng-icon></a>
        </button>
        <h2>Index</h2>
        <div class="avatar"></div>
      </div>
      <div class="inf">
        <img src="/img/check2.png" alt="infimg" />
        <h2>What do you want to do today?</h2>
        <p>Tap + to add your tasks</p>
      </div>
      <div class="panel_container">
        <div class="flex_item">
          <button class="home_icon">
            <ng-icon name="hugeHome02"></ng-icon>
            <p>Index</p>
          </button>
          <button class="calendar_icon">
            <ng-icon name="hugeCalendar03"></ng-icon>
            <p>Calendar</p>
          </button>
        </div>
        <div class="flex_item_empty"></div>
        <div class="flex_item">
          <button class="clock_icon">
            <ng-icon name="hugeClock01"></ng-icon>
            <p>Focuse</p>
          </button>
          <button class="profile_icon">
            <ng-icon name="cssProfile"></ng-icon>
            <p>Profile</p>
          </button>
        </div>
        <button class="new_button" (click)="onButtonClick()"><h2>+</h2></button>
      </div>
    </div>
  </div>
</div>

<app-task-modal *ngIf="this.buttonClicked == true"></app-task-modal>