<div class="app">
    <div class="container">
        <button class="backToIntro"><</button>

        <h1>Login</h1>

        <form action="">
            <div class="input-container">
                <label for="name">Username</label>
                <input type="text" name="username" placeholder="Enter your Username">
            </div>

            <div class="input-container">
                <label for="password">Password</label>
                <input type="text" name="password">
            </div>
        </form>

        <button type="button" class="loginBtn" disabled>Login</button>

        <div class="or-block">
            <span></span>
            <p>or</p>
            <span></span>
        </div>

        <button type="button" class="googleBtn another-wayBtn">Login with Google</button>
        <button type="button" class="appleBtn another-wayBtn">Login with Apple</button>

        <p class="register">Don't have an account? <a href="">Register</a></p>
    </div>
</div>


